@model IEnumerable<Vidly.Models.Movies>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (!Model.Any())
{
    <p>No movie exists in Database</p>
}
else
{
    <table class="table table-hover table-bordered">
        <tr>
            <th>Movies</th>
            <th>Genre</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(@item.Name, "Save", new {id = item.Id}, null)
                </td>
                <td>
                    @item.Genre
                </td>

            </tr>
        }

    </table>
}